:root{
    --arutovar:none;
    --sopuranovar:none;
    --tenoruvar:none;
    --bansouvar:none;
    --ongenvar:none;
}
/*#testdiv{}*/
p{font-size: 32px;}
#aruto{--arutovar:none;}
#aruto:checked{--arutovar:block;}
#sopurano{--sopuranovar:none;}
#sopurano:checked{--sopuranovar:block;}
#tenoru{--tenoruvar:none;}
#tenoru:checked{--tenoruvar:block;}
#bansou{--bansouvar:none;}
#bansou:checked{--bansouvar:block;}
#ongen{--ongenvar:none;}
#ongen:checked{--ongenvar:block;}
#arutoue{display: var(--arutovar);}
#sopuranoue{display: var(--sopuranovar);}
#tenoruue{display: var(--tenoruvar);}
#bansouue{display: var(--bansouvar);}
#ongenue{display: var(--ongenvar);}


html {
	scroll-behavior: smooth;
}
body {
	overflow-x: hidden;
	margin: 0;
}
/* :::::: toggle button :::::: */
#menuswitch {
	display: none;
}
label {
	cursor: pointer;
	position: fixed;
}
.open {
	z-index: 2;
	top: 8px;
	right: 8px;
	width: 48px;
	height: 48px;
	border-radius: 48px;
	background: #86c0de;
	transition: background .6s, transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.open::before,
.open::after {
	content: "";
}
.open span,
.open::before,
.open::after {
	content: "";
	position: absolute;
	top: calc(50% - 1px);
	left: 30%;
	width: 40%;
	border-bottom: 2px solid white;
	transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.open::before {
	transform: translateY(-8px);
}
.open::after {
	transform: translateY(8px);
}
.close {
	z-index: 1;
	inset: 0;
	pointer-events: none;
	transition: background .6s;
}
#menuswitch:checked + .open {
	background: #dc6688;
	transform: translateX(-280px);
}
#menuswitch:checked + .open span {
	transform: scaleX(0);
}
#menuswitch:checked + .open::before {
	transform: rotate(135deg) scaleX(1.2);
}
#menuswitch:checked + .open::after {
	transform: rotate(-135deg) scaleX(1.2);
}
#menuswitch:checked ~ .close {
	pointer-events: auto;
	background: rgba(0,0,0,.3);
}

/* :::::: menuswitch menu :::::: */
.menu {
	z-index: 1;
	position: fixed;
	overflow: auto;
	top: 0;
	right: 0;
	width: 280px;
	height: 100%;
	margin: 0;
	padding: 10px;
	box-sizing: border-box;
	background: rgba(0,0,0,.6);
	transform: translateX(100%);
	transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.menu h2 {
	color: white;
	font-family:sans-serif;
	font-weight: 400;
	letter-spacing: .1em;
	text-align: center;
}
.menu ul {
	margin: 0;
	padding: 0;
}
.menu li {
	line-height: 1.4;
	border-top: 1px solid rgba(255,255,255,.6);
}
li.firstli{
    border:0;
}
.menu a {
	display: block;
	padding: 1em 2em;
	color: white;
	text-decoration: inherit;
	transition: background .6s;
}
.menu a:hover {
	background: black;
}
.menu div {
	display: block;
	padding: 1em 2em;
	color: white;
	text-decoration: inherit;
	transition: background .6s;
}
.menu div:hover {
	background: black;
}
#menuswitch:checked ~ .menu {
	transform: none;
}
