p{font-size: 32px;}
#arutoue{display: var(--arutovar);}
#sopuranoue{display: var(--sopuranovar);}
#tenoruue{display: var(--tenoruvar);}
#bansouue{display: var(--bansouvar);}
#ongenue{display: var(--ongenvar);}
#aruto{--arutovar:none;}
#aruto:checked{--arutovar:block;}
#sopurano{--sopuranovar:none;}
#sopurano:checked{--sopuranovar:block;}
#tenoru{--tenoruvar:none;}
#tenoru:checked{--tenoruvar:block;}
#bansou{--bansouvar:none;}
#bansou:checked{--bansouvar:block;}
#ongen{--ongenvar:none;}
#ongen:checked{--ongenvar:block;}