:root{
    --context_fg_color_main:#000;
    --context_bg_color_main:#fff;
    --context_hover_color:#f8af41;
    --context_fg_color:#000;
    --context_bg_color:#fff;
    --context_border:1px solid #000;
    --context_radius:5px;
}
#context_div_main{
    display: none;
    position: fixed;
    left:0px;
    top: 0px;
    border: var(--context_border);
    color: var(--context_fg_color_main);
    background-color: var(--context_bg_color_main);
    border-radius: var(--context_radius);
    appearance: none;
    padding: 3px;
}
.context_li_button{
    color: var(--context_fg_color);
    background-color: var(--context_bg_color);
    padding: 2px;
    width: 200px;
    min-height:30px;
    cursor: pointer;
    list-style: none;
    user-select: none;
}
.context_li_button:hover{
    background-color: var(--context_hover_color);
}